
body {
  background-image: url("https://www.xtrafondos.com/wallpapers/kylo-ren-en-star-wars-el-despertar-de-la-fuerza-1764.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.imagenPersonaje{
  background-image: url("https://3.bp.blogspot.com/-JmLcUwhEefg/WG69P9yKmyI/AAAAAAAAKcY/SrvuFPgaiY8s3yca6wv8FOMGnsheE95JQCLcB/s1600/LEGO_Star_Wars_Episode_1_logo.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.circuloTarjetas{
  width: 40px;
   height: 40px;
   margin-bottom: 30px;
}



.colorChocolate{
  background-color: chocolate;
}

.colorVerdeAgua{
  background-color: rgb(127, 237, 149);
}

.colorInformativo{
  background-color: rgb(54, 96, 221);
}


.colorAzulClarito{

background-color: rgb(143, 148, 204);
}


